= button_tag "✖", class: "tutu-button tutu-button--mini tutu-button--mini-right",
        data: {spec: "delete-question__delete-open", question: "delete"}
= button_tag "✎", class: "tutu-button tutu-button--mini tutu-button--mini-right",
        data: {spec: "edit-question__edit", question: "edit"}