<% if @routes.present? %>
  <%= render "components/index_layout",
             item_string: "route",
             notice: notice,
             title: t(".title"),
             items: @routes,
             form_inline: true %>
<% else %>
  <%= content_tag :div, t(".no_route"), class: "tutu-info" %>
<% end %>

<%= render "footer" %>

<p><%= t ".help" %></p>