<main class="tt-container tt-welcome">
<!--  <h1><%#= Time.now.strftime("%d/%m/%Y %H:%M") %></h1>-->

  <div class="section--table">
    <div class="section__half section__half--trains">
      <%= render 'trains/index' %>
    </div>
    <div class="section__half section__half--routes">
      <%= render 'routes/index' %>
    </div>
    <div class="section__half section__half--stations">
      <%= render 'stations/index' %>
    </div>
<!--    <div class="section__half">-->
      <%#= render 'services/index' %>
<!--    </div>-->
  </div>
</main>
