= button_tag "✎", class: "tutu-button tutu-button--mini",
        data: { spec: "edit-answer__edit", answer: "edit" }
= button_tag "✖", class: "tutu-button tutu-button--mini",
        data: { spec: "delete-answer__delete-open", answer: "delete" }
