<p>Важно понимать, что здесь указаны все возможные поезда и страница существует лишь для удобства.</p>
<p>Естественно все эти поезда могут пренадлежать разным поездам, в то время как ссылка показывает определенный.</p>
<%= render "components/index_layout", item_string: "carriage", notice: notice, title: "Вагоны", items: @carriages %>
<%= render "footer" %>