<p><%= t ".exist" %></p>
<p><%= t ".belong" %></p>

<%= render "components/index_layout",
           item_string: "carriage",
           notice: notice,
           title: t(".title"),
           items: @carriages %>