<%= render 'helpers/form_table', item: @route, item_name: :name do %>

  <div class="field">
    <% if @route.stations %>
      <% @route.stations.each do |station| %>
        <%= station.name %><br/>
      <% end %>
    <% end %>
  </div>

<% end %>
