@import "utils.scss";

[data-answer="form"],
[data-answer="edit-form"],
[data-answer="delete-alert"] {
  display: none;
}

.tutu-answer {
  word-break: break-word;
  padding: 6px $s;
  margin-left: auto;
  margin-bottom: $s;
  border: 1px dashed $color-grey;
  border-radius: 5px;

  &__container {
    margin-top: $m;
    text-align: right;
  }
  
  &__user {
    display: block;
    word-break: break-word;
  }

  &__date {
    float: left;
  }
  
  &__body {
    margin-top: 1px;
    word-break: break-word;
  }

  &__alert {
    padding-top: 5px;
    text-align: center;
    border: 1px dashed $color-grey;
    border-radius: 5px;
  }

  &__delete-text {
    margin: 0;
  }

  &__file {
    display: block;
  }
}
