html, body {
  padding: 0;
  margin: 0;
  text-align: center;
  // background-color: #404;
  // color: #fff;
}

h1, h2, h3, h4, p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.tt {
  &-container {
    padding: 40px;
    margin: 0 auto;
  }
}
