html, body {
  min-height: 100%;
  padding: .1px;
  margin: 0;

  text-align: center;

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

body {
  padding-bottom: 100px;
}

h1, h2, h3, h4, p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/* ----------------- */
$color-warning: #a90000;
$color-warning-backgroung: #ffbaba;
$color-notice: #31821f;
$color-notice-backgroung: #c5ffba;
$color-info: #1f43ff;
$color-main: #ffd942;
$color-main-disabled: #feff70;
$color-second: #cc331f;
$color-black: #000;
$color-grey: #ccc;
$color-white: #fff;

$table-border: 1px solid $color-grey;
$time: .3s;

@mixin input_theme {
  box-sizing: border-box;
  min-width: 50px;
  min-height: 30px;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

@mixin hover {
  color: $color-black !important;
  background-color: $color-main;
  transition: background-color $time, color $time;

  &:hover {
    background-color: $color-second;
    color: $color-white !important;
  }
}

@mixin hover_disabled {
  color: $color-black !important;
  background-color: $color-main-disabled;
}

.tutu {

  &-container {
    //max-width: 980px;
    max-width: 98%;
    margin: 20px auto;
  }

  &-section {
  }

  &-grid {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template: "a b" / 1fr 1fr;

    &__cell {
      //width: 50%;
    }
  }

  &-table {
    display: table;
    width: 100%;
    text-align: left;

    &__row {
      display: table-row;

      &--caption {
        background-color: $color-grey;
      }

      &:last-of-type .tutu-table__cell {
        border-bottom: $table-border;
      }

      .tutu-table__cell {
        border-bottom: 0;
      }
    }

    &__cell {
      display: table-cell;
      padding: 2px;
      border: $table-border;

      &:not(:last-of-type) {
        border-right: 0;
      }

      a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $color-grey !important;

        &:hover {
          background: none;
          color: $color-black !important;
        }
      }
    }
  }

  &-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--left {
      justify-content: left;
    }
  }

  &-field {
    @include input_theme;
    border: $table-border;

    &--number {
      width: 60px;
    }
  }

  &-button {
    @include input_theme;
    @include hover;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0;
    cursor: pointer;

    &:disabled {
      @include hover_disabled
    }
  }

  &-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    background-color: $color-black;
    color: $color-second;
    font-size: 20px;

    a {
      color: $color-main !important;
      font-size: 14px;
      text-decoration: none;
    }
  }

  &-info {
    padding: 20px 0;
    font-size: 20px;
  }

  &-link {
    &--inline {
      display: inline-block !important;
    }
  }

  &-text {

    &--warning {
      color: $color-warning;
    }

    &--info {
      color: $color-info;
    }
  }

  &-menu--fixed {
    position: fixed;
    bottom: 28px;
    left: 0;
    right: 0;
    margin: auto;
    background: $color-grey;
  }
}

#error_explanation {
  background-color: $color-warning-backgroung;
  color: $color-warning;

  h2, ul {
    font-size: 16px;
  }
}

#notice {
  background-color: $color-notice-backgroung;
  color: $color-notice;
  font-size: 16px;
}

#error_explanation, #notice {
  display: flex;
  justify-content: start;
  align-items: baseline;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}