@import "utils.scss";

html, body {
  min-height: 100%;
  padding: .1px;
  margin: 0;

  text-align: center;

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

body {
  padding-bottom: 100px;
  background-color: $color-grey-background;
}

h1, h2, h3, h4, p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

[data-grid="masonry"] {
  display: grid;
  grid-gap: $m;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.tutu {

  &-container {
    padding: 0 $l;
    margin: $m auto;
  }

  &-section {
  }

  &-grid {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template: "a b" / 1fr 1fr;

    @media screen and (max-width: 980px) {
      grid-template: "a" / 1fr;
    }

    &__cell {
      //width: 50%;
    }
  }

  &-table {
    display: table;
    width: 100%;
    text-align: left;
    background-color: $color-white;

    &__row {
      display: table-row;

      &[data-vissible=false] {
        display: none;
      }

      &--caption {
        background-color: $color-grey;
      }

      &:last-of-type .tutu-table__cell {
        border-bottom: $table-border;
      }

      .tutu-table__cell {
        border-bottom: 0;
      }
    }

    &__cell {
      display: table-cell;
      padding: 2px;
      border: $table-border;

      &:not(:last-of-type) {
        border-right: 0;
      }

      .tutu-button__wrapper {
        display: inline-flex;
      }

      a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $color-grey !important;

        &:hover {
          background: none;
          color: $color-black !important;
        }

        &.tutu-button {
          @include input_theme;
          @include hover;

          display: inline-flex;
        }
      }
    }
  }

  &-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--left {
      justify-content: left;
    }
  }

  &-field {
    @include input_theme;
    border: $table-border;

    &--number {
      width: 60px;
    }

    &--left {
      margin-left: 0;
    }

    &--bottom-offset {
      margin-bottom: 15px;
    }

    &--full {
      width: 100%;
    }
  }

  &-button {
    @include input_theme;
    @include hover;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0;
    cursor: pointer;

    &:disabled {
      @include hover_disabled
    }

    &--left {
      margin-left: 0;
    }

    &--bottom-offset {
      margin-bottom: 15px;
    }

    &--full {
      width: 100%;
    }

    &--mini {
      min-width: 20px;
      min-height: 15px;
      width: 20px;
      height: 15px;
      text-align: center;
      padding: 0;
      margin: 0 0 0 5px;
      float: left;

      &-right {
        float: right;
      }
    }
  }

  &-textarea {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    height: 100px;
    max-height: 100px;
    resize: none;

    &--no-margin-b {
      margin-bottom: 0;
    }
  }

  &-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    background-color: $color-black;
    color: $color-second;
    font-size: 20px;

    a {
      color: $color-main !important;
      font-size: 14px;
      text-decoration: none;
    }
  }

  &-info {
    padding: 20px 0;
    font-size: 20px;
  }

  &-link {
    &--inline {
      display: inline-block !important;
    }
  }

  &-text {

    &--warning {
      color: $color-warning;
    }

    &--info {
      color: $color-info;
    }
  }

  &-menu--fixed {
    position: fixed;
    bottom: 28px;
    left: 0;
    right: 0;
    margin: auto;
    background: $color-grey;
  }
}

#error_explanation {
  background-color: $color-warning-backgroung;
  color: $color-warning;

  h2, ul {
    font-size: 16px;
  }

  &.no-margin--lr {
    margin-left: 0;
    margin-right: 0;
  }

  &.inner {
    padding: 5px;
    border-radius: 5px;
  }
}

#notice {
  background-color: $color-notice-backgroung;
  color: $color-notice;
  font-size: 16px;
}

#alert {
  background-color: $color-alert-backgroung;
  color: $color-alert;
  font-size: 16px;
}

#error_explanation, #notice, #alert {
  display: flex;
  justify-content: start;
  align-items: baseline;
  margin: $m $l;
  padding: $m;
  border-radius: 10px;

  li {
    text-align: left;
  }
}

.no-margin--lr {
  margin-left: 0;
  margin-right: 0;
}

.inner {
  padding: 5px;
  border-radius: 5px;
}