@import "utils.scss";

[data-question="edit-form"],
[data-question="delete-alert"] {
  display: none;
}

.tutu-question {
  background-color: $color-white;
  border-radius: $outer-radius;
  text-align: left;
  margin-bottom: auto;

  &__list {
    display: grid;
    margin: $l auto;
  }

  &__title {
    margin: 0 0 14px;
    font-size: 18px;
    word-break: break-word;
  }

  &__date {
    float: right;
  }

  &__description {
    margin-top: 1px;
    word-break: break-word;
  }

  &__content {
    padding: 18px $m 13px;
  }

  &__user {
    display: block;
    word-break: break-word;

    &--author {
      color: brown;
    }
  }
}